 svg {
      font: 12px sans-serif;
    }
    
    .background path {
      fill: none;
      stroke: none;
      stroke-width: 20px;
      pointer-events: stroke;
    }
    
    .foreground path {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .active1 {
      fill: none;
      stroke: red;
      stroke-width: 1.5px;
    }
    
    .axis .title {
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .axis line,
    .axis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .axis.string {
      font-size: 6px;
    }
    
    .active .label:not(.inactive) {
      font-weight: bold;
      font-size: 11px;
    }
    
    .label.inactive {
      fill: #ccc;
    }
    
    .foreground path.inactive {
      stroke: #ccc;
      stroke-opacity: .5;
      stroke-width: 1px;
    }
    .title{
      font-weight: bold;
      font-size: 18px;
    }
    
    div.tooltip {	
        position: absolute;			
        text-align: center;			
        width: 80px;					
        padding: 2px;				
        font: 15px sans-serif;		
        background: lightsteelblue;	
        border: 0px;		
        border-radius: 8px;			
        pointer-events: none;
    }
    